{% extends "base.html" %}

{% block content %}
<h2>Create a post</h2>


<div class="row">
  <div class="col-lg-6 col-sm-12">
    <!-- Post Create Form -->
    <div class="form-group">
      <form method="POST" action="." style="max-width: 100%;">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Post" class="btn btn-dark">

      </form>
    </div>

  </div>
  <!-- Information Card-->
  <div class="col-4 d-none d-lg-block">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title">Posting to Discuss Tech</h3>
        <p class="card-text">Some quick tips for TD. Try to avoid making duplicate posts.</p>
      </div>
    </div>

  </div>
</div>


{% endblock %}